__1. Write a program to import CSV and read tables using Pandas Library__

In [5]:
import pandas as pd

# Load CSV into Pandas DataFrame
data = pd.read_csv('mydata.csv')

# Display the entire DataFrame
print(data)

      29  KARNATAKA  577  Mysore  00000                 Mysore.1  000000  \
0     29  KARNATAKA  577  Mysore      0                   Mysore       0
1     29  KARNATAKA  577  Mysore      0                   Mysore       0
2     29  KARNATAKA  577  Mysore   5569             Piriyapatna        0
3     29  KARNATAKA  577  Mysore   5569             Piriyapatna        0
4     29  KARNATAKA  577  Mysore   5569             Piriyapatna        0
...   ..        ...  ...     ...    ...                      ...     ...
1470  29  KARNATAKA  577  Mysore   5575  Tirumakudal - Narsipur   803199
1471  29  KARNATAKA  577  Mysore   5575  Tirumakudal - Narsipur   803199
1472  29  KARNATAKA  577  Mysore   5575  Tirumakudal - Narsipur   803199
1473  29  KARNATAKA  577  Mysore   5575  Tirumakudal - Narsipur   803199
1474  29  KARNATAKA  577  Mysore   5575  Tirumakudal - Narsipur   803199

      0000                        District - Mysore  Total  ...  30.7   5.9  \
0        0                        District - Mysore  Rural  ...  17.9   1.4
1        0                        District - Mysore  Urban  ...  48.5  12.1
2        0                  Sub-Dist - Piriyapatna   Total  ...  24.2   2.5
3        0                  Sub-Dist - Piriyapatna   Rural  ...  23.6   2.2
4        0                  Sub-Dist - Piriyapatna   Urban  ...  31.3   5.8
...    ...                                      ...    ...  ...   ...   ...
1470     7   Tirumakudal  Narsipur (TP) - Ward No.7  Urban  ...  17.8   1.4
1471     8   Tirumakudal  Narsipur (TP) - Ward No.8  Urban  ...  21.6   5.0
1472     9   Tirumakudal  Narsipur (TP) - Ward No.9  Urban  ...  12.1   1.6
1473    10  Tirumakudal  Narsipur (TP) - Ward No.10  Urban  ...  33.6   7.5
1474    11  Tirumakudal  Narsipur (TP) - Ward No.11  Urban  ...  39.7   8.3

       7.1  13.7   65.9  31.7  2.2.1  1.4  0.8.1  0.2.2
0      0.8  19.9   52.4  44.4    3.1  2.0    1.1    0.2
1     15.9   5.1   84.7  14.0    1.0  0.7    0.3    0.3
2      1.5  17.8   57.4  41.1    1.3  0.6    0.7    0.3
3      1.4  18.4   56.0  42.4    1.3  0.6    0.7    0.3
4      2.8  10.3   74.9  24.4    0.6  0.4    0.2    0.1
...    ...   ...    ...   ...    ...  ...    ...    ...
1470   0.0   6.7   40.4  59.6    0.0  0.0    0.0    0.0
1471  10.0   9.6   75.1  24.3    0.7  0.7    0.0    0.0
1472   2.3  30.5   85.2  14.1    0.8  0.4    0.4    0.0
1473   7.5   2.8  100.0   0.0    0.0  0.0    0.0    0.0
1474   1.7   7.9   87.8  11.8    0.4  0.4    0.0    0.0

[1475 rows x 145 columns]

In [6]:
# Display only the first 5 rows of the DataFrame
print(data.head())

   29  KARNATAKA  577  Mysore  00000      Mysore.1  000000  0000  \
0  29  KARNATAKA  577  Mysore      0        Mysore       0     0
1  29  KARNATAKA  577  Mysore      0        Mysore       0     0
2  29  KARNATAKA  577  Mysore   5569  Piriyapatna        0     0
3  29  KARNATAKA  577  Mysore   5569  Piriyapatna        0     0
4  29  KARNATAKA  577  Mysore   5569  Piriyapatna        0     0

         District - Mysore  Total  ...  30.7   5.9   7.1  13.7  65.9  31.7  \
0        District - Mysore  Rural  ...  17.9   1.4   0.8  19.9  52.4  44.4
1        District - Mysore  Urban  ...  48.5  12.1  15.9   5.1  84.7  14.0
2  Sub-Dist - Piriyapatna   Total  ...  24.2   2.5   1.5  17.8  57.4  41.1
3  Sub-Dist - Piriyapatna   Rural  ...  23.6   2.2   1.4  18.4  56.0  42.4
4  Sub-Dist - Piriyapatna   Urban  ...  31.3   5.8   2.8  10.3  74.9  24.4

   2.2.1  1.4  0.8.1  0.2.2
0    3.1  2.0    1.1    0.2
1    1.0  0.7    0.3    0.3
2    1.3  0.6    0.7    0.3
3    1.3  0.6    0.7    0.3
4    0.6  0.4    0.2    0.1

[5 rows x 145 columns]

In [7]:
# Display only the last 5 rows of the DataFrame
print(data.tail())

      29  KARNATAKA  577  Mysore  00000                 Mysore.1  000000  \
1470  29  KARNATAKA  577  Mysore   5575  Tirumakudal - Narsipur   803199
1471  29  KARNATAKA  577  Mysore   5575  Tirumakudal - Narsipur   803199
1472  29  KARNATAKA  577  Mysore   5575  Tirumakudal - Narsipur   803199
1473  29  KARNATAKA  577  Mysore   5575  Tirumakudal - Narsipur   803199
1474  29  KARNATAKA  577  Mysore   5575  Tirumakudal - Narsipur   803199

      0000                        District - Mysore  Total  ...  30.7  5.9  \
1470     7   Tirumakudal  Narsipur (TP) - Ward No.7  Urban  ...  17.8  1.4
1471     8   Tirumakudal  Narsipur (TP) - Ward No.8  Urban  ...  21.6  5.0
1472     9   Tirumakudal  Narsipur (TP) - Ward No.9  Urban  ...  12.1  1.6
1473    10  Tirumakudal  Narsipur (TP) - Ward No.10  Urban  ...  33.6  7.5
1474    11  Tirumakudal  Narsipur (TP) - Ward No.11  Urban  ...  39.7  8.3

       7.1  13.7   65.9  31.7  2.2.1  1.4  0.8.1  0.2.2
1470   0.0   6.7   40.4  59.6    0.0  0.0    0.0    0.0
1471  10.0   9.6   75.1  24.3    0.7  0.7    0.0    0.0
1472   2.3  30.5   85.2  14.1    0.8  0.4    0.4    0.0
1473   7.5   2.8  100.0   0.0    0.0  0.0    0.0    0.0
1474   1.7   7.9   87.8  11.8    0.4  0.4    0.0    0.0

[5 rows x 145 columns]

In [5]:
# Display basic statistics about the DataFrame
print(data.describe())

                       Location
count                        12
unique                       12
top     Palolem Beach,South Goa
freq                          1