# Strings

A string is a data structure in Python that represents a sequence of characters. It is an immutable data type, meaning that once you have created a string, you cannot change it. Strings are used widely in many different applications, such as storing and manipulating text data, representing names, addresses, and other types of data that can be represented as text.

In [2]:
# 1.String creation
str1 = 'hello python'   # Define string using single quotes
print(str1)

hello python

In [1]:
str2 = "i love python"  # Define string using single quotes
print(str)

i love python

In [4]:
mystr = '''hello 
                 world'''  # Define string using single quotes
print(mystr)

hello
                 world

In [5]:
gis = ('geographical '
       'information '
         'system ')
print(gis)

geographical information system

In [12]:
geo = 'i love python'
geo1 = geo*3
print(geo1)

i love pythoni love pythoni love python

In [13]:
len(geo1)

39

In [1]:
# 2.String Indexing
name = "Manohar"

In [4]:
name[0:5]  #Forward indexing

'Manoh'

In [9]:
name[0:-5]  #Backward indexing

'Ma'

In [10]:
# 3.String SLicing
alphabets="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
alphabets[0:26:2]    #start : stop : step

'ACEGIKMOQSUWY'

__String Operators__

In [12]:
'n' in "manohar"   # if desired value is there in the input, then the output will be 'True'

True

In [13]:
'p' in 'manohar'

False

In [14]:
name = "manohar"
name2 = "MSC IN GIS"
name3 = "Geography_dept"

In [15]:
name.capitalize()  #When we use capitalize function, the first spelling of the name will starts with capital letter.

'Manohar'

In [17]:
name2.lower()     #When we use .lower function, the name will be small letter in which was in capital letter.

'msc in gis'

In [64]:
name3.upper()    #When wew use .upper function, the name will become capital letter.

'GEOGRAPHY_DEPT'

In [67]:
name3.count("dept")

1

In [68]:
name.startswith("m")

True

In [69]:
name.endswith("r")

True

In [72]:
flower = "beutifull"

In [73]:
flower[::-1]  # Reverse of string

'llufitueb'

In [75]:
# 4.String concantination
n1  = "good"
n2 = "morning"
n3 = n1 + " " + n2
print(n3)

good morning

__Strip__

The Strip() method in Python removes or truncates the given characters from the beginning and the end of the original string. The default behavior of the strip() method is to remove the whitespace from the beginning and at the end of the string.

In [21]:
spaces = "        hello hello hello hello       "

In [22]:
spaces.strip()

'hello hello hello hello'

In [23]:
remove = "----------hi hi hi hi hi----------"

In [24]:
remove.strip("-")

'hi hi hi hi hi'

In [42]:
remove.rstrip("-")  # it removes right side unwanted spaces

'----------hi hi hi hi hi'

In [43]:
remove.lstrip("-")   # it removes right side unwanted spaces

'hi hi hi hi hi----------'

In [35]:
name = "hello hi"

In [40]:
name1 = name.replace("hello","hi")
print(name1)

hi hi

In [37]:
# Python program to demonstrate the use of
# count() method without optional parameters

# string in which occurrence will be checked
string = "manohar manu"

# counts the number of times substring occurs in
# the given string and returns an integer
print(string.count("manohar"))

1

In [38]:
# using .format option in a simple string
print("{} - Grographical information system.".format("GIS"))


# using format option for a
# value stored in a variable
str = "To succeed in life, we shold have {}"
print(str.format("Motivation"))

# formatting a string using a numeric constant
print("Hello, I am manohar and i'm {} years old !".format(22))

GIS - Grographical information system.
To succeed in life, we shold have Motivation
Hello, I am manohar and i'm 22 years old !

In [5]:
# Using %d formatting
name = input("Enter your name: ")
age = int(input("Enter the age: "))
print("The name is %s and age is %d " % (name, age))

Enter your name: manohar
Enter the age: 22
The name is manohar and age is 22

In [39]:
# '%' Formatting

dd = float(input("enter decimal degrees\n"))
dd_whole = dd//1
dd_dec = dd%1 
min = dd_dec*60
min_whole = min%1
min_dec = min//1
sec = min_dec*60
print("the degree value is %d\u00b0 the minute value is %d\' and seconds is %.2f\""%(dd_whole,min_whole,sec))

enter decimal degrees
74.125
the degree value is 74° the minute value is 0' and seconds is 420.00"

In [1]:
# 'f-Formatting'
name = "manohar"
age = 22
print(f"The name is, {name}, The age is,{age}")

The name is, manohar, The age is,22

In [63]:
name1 = input("Enter the name of the student: ")
age = int(input(f"Enter {name1}'s age"))

Enter the name of the student: manohar
Enter manohar's age22

__Escape Characters__

In [76]:
txt = 'It\'s alright.'
print(txt)                 #Single Quote

It's alright.

In [77]:
txt = "This will insert one \\ (backslash)."
print(txt)                #Backslash

This will insert one \ (backslash).

In [78]:
txt = "Hello\nWorld!"
print(txt)               #New Line

Hello
World!

In [79]:
txt = "Hello\rWorld!"
print(txt)            #Carriage Return

World!

In [80]:
txt = "Hello\tWorld!"
print(txt)            #Tab

Hello	World!

In [81]:
#This example erases one character (backspace):
txt = "Hello \bWorld!"
print(txt)

Hello World!