# Data Structure

- Data Structures are a way of organizing data so that it can be accessed more efficiently depending upon the situation. Data Structures are fundamentals of any programming language around which a program is built. Python helps to learn the fundamental of these data structures in a simpler way as compared to other programming languages.


- In Python, the built-in data structures include:


- __Lists:__  An ordered collection of items, changeable, and allows duplicates. [ ]


- __Tuples:__  An ordered, immutable collection of items and allows duplicates.  ( )


- __Sets:__  An unordered collection of unique items, changeable and no duplicates. { }


- __Dictionaries:__  An unordered collection of key-value pairs, changeable and no duplicates. { }

### 1.Lists

In [3]:
myList = []  #an empty list

In [4]:
type(myList) #type checking

list

In [6]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] #List containing integer values
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
list2 = [1.2, 2.5, 3.5, 5.5]    #List containing float values
print(list2)

[1.2, 2.5, 3.5, 5.5]

In [8]:
list3 = ["Manohar", "Manjunath", "Pranav", "Prasad"]  #List cintaining string value
print(list3)

['Manohar', 'Manjunath', 'Pranav', 'Prasad']

In [11]:
list4 = ["manohar", [22, "P01ZZ21S850"], ['9-10-2000']]  #Nested list
print(list4)

['manohar', [22, 'P01ZZ21S850'], ['9-10-2000']]

In [13]:
list5 = [1, "abc", 1.5, "orange"]  #list having mixed data types
print(list5)

[1, 'abc', 1.5, 'orange']

In [12]:
# To calculate the lenght of the senteance we can use 'len' function
len(list3)

4

In [18]:
# List Indexing
list3[0]        #Retrive first eliment of the list

'Manohar'

In [20]:
list3[0][1]   #Nested list

'a'

In [23]:
list3[-1]    #last eliment of the list

'Prasad'

### List Slicing
List slicing is the process of extracting a portion of a list. It allows you to create a new list that contains only a specific portion of the original list. List slicing is done by specifying the starting and ending index of the portion of the list you want to extract, separated by a colon (:).

In [25]:
myList = ["manohar", "rahul", "mallesh", "arun", "akhil", "drakshayani", "pavithra"]
print(myList)

['manohar', 'rahul', 'mallesh', 'arun', 'akhil', 'drakshayani', 'pavithra']

In [26]:
myList[0:3] # Return all items from 0th to 3rd index location excluding the item of loc 3.

['manohar', 'rahul', 'mallesh']

In [27]:
myList[:2]  #Return first two items

['manohar', 'rahul']

In [29]:
myList[-2:]  #Return last two items

['drakshayani', 'pavithra']

In [32]:
myList[:]   #Return whole list

['manohar', 'rahul', 'mallesh', 'arun', 'akhil', 'drakshayani', 'pavithra']

### Add, Remove and Change Items

In [34]:
myList.append('bhaskar')   #Add an item to the end of the list
print(myList)

['manohar', 'rahul', 'mallesh', 'arun', 'akhil', 'drakshayani', 'pavithra', 'bhaskar', 'bhaskar']

In [35]:
myList.insert(3, 'abhilash')  #Add an item at index location 3
print(myList)

['manohar', 'rahul', 'mallesh', 'abhilash', 'arun', 'akhil', 'drakshayani', 'pavithra', 'bhaskar', 'bhaskar']

In [36]:
myList.remove('manohar')  #Remove an item 'manohar'
print(myList)

['rahul', 'mallesh', 'abhilash', 'arun', 'akhil', 'drakshayani', 'pavithra', 'bhaskar', 'bhaskar']

In [37]:
myList.pop()  #Remove last item of the list
print(myList)

['rahul', 'mallesh', 'abhilash', 'arun', 'akhil', 'drakshayani', 'pavithra', 'bhaskar']

In [44]:
myList.pop(6)  #Remove item at index location 6
print(myList)

['rahul', 'mallesh', 'abhilash', 'arun', 'akhil', 'drakshayani']

In [45]:
del myList[2]  #Remove item at index location 2
print(myList)

['rahul', 'mallesh', 'arun', 'akhil', 'drakshayani']

In [46]:
# Change value of the string
myList[0] = 25
myList[1] = 35
myList[2] = 100
myList

[25, 35, 100, 'akhil', 'drakshayani']

In [47]:
myList.clear()   #Empty list or delete all items in the list

In [48]:
myList

[]

In [49]:
del myList   # delete the whole list

In [50]:
myList

NameError: name 'myList' is not defined

In [51]:
# Copy List
list1 = ['orange', 'mango', 'pappaya', 'watermillon', 'jackfruit']
list2 = []
list2 = list1.copy()  # create a copy of the list

In [52]:
list2

['orange', 'mango', 'pappaya', 'watermillon', 'jackfruit']

In [53]:
list3 = ['juice']

In [54]:
listJoin = list2 + list3  #Join lists by using '+' operator

In [55]:
listJoin

['orange', 'mango', 'pappaya', 'watermillon', 'jackfruit', 'juice']

### List Membership
List membership in Python refers to the process of checking whether a particular element is present in a list or not. It is a commonly used operation in Python programming, especially when working with collections of data.

To check whether an element is present in a list, you can use the in operator. The in operator returns a Boolean value of True if the element is present in the list, and False otherwise.

In [57]:
fruits = ['orange', 'mango', 'pappaya', 'watermillon', 'jackfruit']
fruits

['orange', 'mango', 'pappaya', 'watermillon', 'jackfruit']

In [59]:
'orange' in fruits  #Checking if 'orange' exist in 'fruits'

True

In [61]:
'grapes' in fruits  #Checking if 'grapes' exist in 'fruits'

False

In [62]:
renewable_sources = ['sun', 'wind', 'water', 'soil', 'biogas']
renewable_sources

['sun', 'wind', 'water', 'soil', 'biogas']

In [63]:
if 'sun' in renewable_sources:
    print('sun is a renewable source')
else:
    print('sun is a non renewable source')

sun is a renewable source of energy

In [65]:
if 'coal' in renewable_sources:
    print('coal is a renewable source')
else:
    print('coal is a non renewable source')

coal is a non renewable source

### Nested List
a nested list is a list that contains other lists as its elements. These sub-lists can also contain further nested lists, and so on. A nested list can be used to represent a multi-dimensional array or a matrix, where each element of the matrix is a list of values.

In [66]:
taluks = ["Heggadadevana kote", "Hunsur", "Krishnarajanagara", "Mysore", "Nanjangud", "Piriyapatna", "T.Narsipur"]
hd_kote = ["1,618sqkm and 2,63,706 population"]
hunsur = ["898sqkm and 2,82,963 population"]
krNagar = ["608sqkm and 2,82,963 population"]
mysore = ["797sqkm and 12,81,768 population"]
Nanjangud = ["974sqkm and 3,84,922 population"]
pPatna = ["812sqkm and 2,43,076 population"]
tNarsipur = ["600sqkm and 2,92,035 population"]

In [67]:
taluks.insert(1,hd_kote)
taluks.insert(3,hunsur)
taluks.insert(5,krNagar)
taluks.insert(7,mysore)
taluks.insert(9,Nanjangud)
taluks.insert(11,pPatna)
taluks.insert(13,tNarsipur)
print(taluks)

['Heggadadevana kote', ['1,618sqkm and 2,63,706 population'], 'Hunsur', ['898sqkm and 2,82,963 population'], 'Krishnarajanagara', ['608sqkm and 2,82,963 population'], 'Mysore', ['797sqkm and 12,81,768 population'], 'Nanjangud', ['974sqkm and 3,84,922 population'], 'Piriyapatna', ['812sqkm and 2,43,076 population'], 'T.Narsipur', ['600sqkm and 2,92,035 population']]

In [74]:
firstGen = ["Grand Father", "Grand Mother"]
secondGen = ["Father", "Mother"]
thirdGen = ["Son", "Daughter"]
fourthGen = ["Grand son","Grand daughter"]

In [75]:
familyTree = []

In [76]:
thirdGen.insert(1,fourthGen)
secondGen.insert(2,thirdGen)
firstGen.insert(2,secondGen)
familyTree = firstGen
print(familyTree)

['Grand Father', 'Grand Mother', ['Father', 'Mother', ['Son', ['Grand son', 'Grand daughter'], 'Daughter']]]

### Reverse and Sort-List
reverse() and sort() are two methods that can be used to manipulate lists.

The reverse() method is used to reverse the order of the elements in a list. It takes no arguments and simply modifies the list in place

In [77]:
list = ['one', 'two', 'three', 'four', 'five', 'five', 'six', 'seven']

In [78]:
print(list)

['one', 'two', 'three', 'four', 'five', 'five', 'six', 'seven']

In [79]:
list.reverse()  #revrse the list

In [80]:
list

['seven', 'six', 'five', 'five', 'four', 'three', 'two', 'one']

In [81]:
list = list[::-1]  #reverse the list
list

['one', 'two', 'three', 'four', 'five', 'five', 'six', 'seven']

In [82]:
list1 = [2, 7, 8, 66, 99, 78, 3, 9]
list1.sort()  #sort list in accending order.
list1

[2, 3, 7, 8, 9, 66, 78, 99]

In [83]:
list1.sort(reverse=True)   #sort list in deccending order
list1

[99, 78, 66, 9, 8, 7, 3, 2]

# Tuples

- Tuples are immutable, ordered collections of elements, which can be of different data types.
- They are defined using round parentheses and the elements are separated by commas.
- They are commonly used to store related pieces of information that are unlikely to change.
- Tuples can be indexed, sliced, and iterated through just like lists.
- They can also be used to return multiple values from a function.
- Tuples can contain elements of different data types, including other tuples, making them useful for nested data structures.
- The built-in function "len" can be used to find the number of elements in a tuple.
- The "in" operator can be used to check if an element is present in a tuple.

In [3]:
myData = ("Manohar", 22, 5.5)

In [4]:
myData

('Manohar', 22, 5.5)

In [5]:
myData[1:3]      #Tuple slicing is done using [start:stop-1] argument.

(22, 5.5)

In [6]:
# Let's try to delete the value of tuple
del myData[1]                           # Tuple deleting is not possible becouse it is immutable.

TypeError: 'tuple' object doesn't support item deletion

In [8]:
myData[0] = 2    # Tuple items are immutable, so we can't edit or change them.

TypeError: 'tuple' object does not support item assignment

### Count

In [14]:
num = ('one', 'seven', 'two', 'five', 'three', 'four', 'five', 'six', 'seven', 'seven', 'eigth')

In [15]:
num.count('four')

1

In [16]:
num.count('five')

2

In [17]:
num.count('seven')

3

### Tuple Membership

In [20]:
MyList = ('one', 'seven', 'two', 'five', 'three', 'four', 'five', 'six', 'seven', 'seven', 'eigth')

In [22]:
'seven' in MyList  # cheking if 'seven' is exist in the list.

True

In [23]:
'nine' in MyList   # cheking if 'seven' is exist in the list.

False

In [24]:
if 'six' in MyList:
    print('six is present in the list')
else:
    print('six is not present in the list')

six is present in the list

In [25]:
if 'sixteen' in MyList:
    print('sixteen is present in the list')
else:
    print('sixteen is not present in the list')

sixteen is not present in the list

### Index Position

In [26]:
MyList.index('one')  #Index of first element equals to '0'

0

In [27]:
MyList.index('five')  #Index of 'five' element equals to 'five'

3

### Sorting

In [1]:
num = (22, 5, 25, 6, 98, 78, 21, 55, 45, 99, 10)

In [3]:
sorted(num)   # The 'num' list will convert from deccending order to asscending order when we use 'sorted' function.

[5, 6, 10, 21, 22, 25, 45, 55, 78, 98, 99]

In [4]:
sorted(num, reverse=True)   # The list will sort to deccending order.

[99, 98, 78, 55, 45, 25, 22, 21, 10, 6, 5]

### Nested Tuples

A nested tuple is a tuple that contains one or more tuples within it.

This nested tuple contains 4 elements: the first two are integers, the third is a tuple containing two integers, and the fourth is a tuple containing three elements, one of which is a tuple containing two integers.

In [6]:
nested_tuple = (1, 2, (3, 4), (5, 6, (7, 8)))

In [8]:
# We can access the elements of a nested tuple using indexing and slicing:
print(nested_tuple[0])  # 1
print(nested_tuple[2])  # (3, 4)
print(nested_tuple[2][0])  # 3
print(nested_tuple[3][2][0])  # 7

1
(3, 4)
3
7

In [9]:
# You can also modify the elements of a nested tuple by creating a new tuple with the desired elements:
new_nested_tuple = (1, 2, (10, 20), (5, 6, (7, 8)))
print(new_nested_tuple)  # (1, 2, (10, 20), (5, 6, (7, 8)))

(1, 2, (10, 20), (5, 6, (7, 8)))

# Sets

- Sets are used to store multiple items in a single variable.

- Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

- A set is a collection which is unordered, unchangeable, and unindexed.
- Set items are unordered, unchangeable, and do not allow duplicate values.
- Sets are Unordered Unordered means that the items in a set do not have a defined order.
- Set items can appear in a different order every time you use them, and cannot be referred to by index or key.
- Sets are Unchangeable, Set items are unchangeable, meaning that we cannot change the items after the set has been created.
- Once a set is created, you cannot change its items, but you can remove items and add new items.

In [1]:
# 1.Set Creation
thisSet = {"apple", "banana", "cherry"}
print(thisSet)

{'cherry', 'banana', 'apple'}

In [2]:
# 2.Duplicates Not Allowed Sets cannot have two items with the same value.
thisSet = {"apple", "banana", "cherry", "apple"}
print(thisSet)

{'cherry', 'banana', 'apple'}

In [3]:
# 3.Check the lenght of sets
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [2]:
# 3.Set Items - Data Types
#Set items can be of any data type
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1)
print(set2)
print(set3)

{'apple', 'banana', 'cherry'}
{1, 3, 5, 7, 9}
{False, True}

In [5]:
# 4.Mixed datatypes
myset = {5, 4, "manohar",(20, 30, 40)}
myset

{(20, 30, 40), 4, 5, 'manohar'}

In [7]:
# 5.Set dosen't allow mutable items like list.
myset1 = {5, 4, "manohar",[20, 30, 40]}
myset1

TypeError: unhashable type: 'list'

### Set Membership

In [9]:
myset3 = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
myset3

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [10]:
# 1.Checking value 'four' is there or not.
'four' in myset3

True

In [11]:
# 2.Checking value 'twenty' is there or not.
'twnty' in myset3

False

### Add and remove items

In [12]:
myTeam = {'Drakshayani', 'Ramu', 'Bhaskar', 'Aishwarya'}
myTeam

{'Aishwarya', 'Bhaskar', 'Drakshayani', 'Ramu'}

In [13]:
# 1.Adding another item to the set
myTeam.add('Mallesh')
myTeam

{'Aishwarya', 'Bhaskar', 'Drakshayani', 'Mallesh', 'Ramu'}

In [14]:
# 2.Adding multiple items to the set
myTeam.update(['RAHUL', 'PAVITHRA', 'SAGAR'])
myTeam

{'Aishwarya',
 'Bhaskar',
 'Drakshayani',
 'Mallesh',
 'PAVITHRA',
 'RAHUL',
 'Ramu',
 'SAGAR'}

In [16]:
# 3.Removing the items from the set
myTeam.remove('PAVITHRA')
myTeam

{'Aishwarya', 'Bhaskar', 'Drakshayani', 'Mallesh', 'RAHUL', 'Ramu', 'SAGAR'}

In [19]:
# 4.Removing using 'discard' method
myTeam.discard('RAHUL')
myTeam

{'Aishwarya', 'Bhaskar', 'Drakshayani', 'Mallesh', 'Ramu', 'SAGAR'}

In [20]:
# 5.Delete all items in a set
myTeam.clear()
myTeam

set()

In [21]:
# 6.Delete the set object
del myTeam
myTeam

NameError: name 'myTeam' is not defined

### Copy set

In [22]:
mynum = {'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight'}
mynum

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [23]:
# Create a new reference 'mynum1'
mynum1 = mynum
mynum1

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

In [24]:
# Checking id number
id(mynum), id(mynum1)

(1372737710568, 1372737710568)

In [25]:
# Copying to the new variable
mynum2 = mynum1.copy()
mynum2

{'eight', 'five', 'four', 'one', 'seven', 'six', 'three', 'two'}

### Set Operation

In [1]:
# 1.Union
a = {5, 6, 7, 8, 9}
b = {8, 9, 10, 11}
c = {11, 12, 13, 14}

In [2]:
# Union of 'a' and 'b' (all eliments from both sides and no duplicates)
a | b

{5, 6, 7, 8, 9, 10, 11}

In [3]:
# Union of 'a' and 'b'
a.union(b)

{5, 6, 7, 8, 9, 10, 11}

In [4]:
# Union of 'a', 'b' and 'c'
a.union(b, c)

{5, 6, 7, 8, 9, 10, 11, 12, 13, 14}

In [5]:
# 2.Intersection
x = {1, 2, 3, 4, 5}
y = {4, 5, 6, 7, 8}

In [6]:
# Intersection of 'a' and 'b' (common items in both sets)
a & b

{8, 9}

In [7]:
# 3.Difference
x = {1, 2, 3, 4, 5}
y = {4, 5, 6, 7, 8}

In [10]:
# set of elements that are only in 'x' but not in 'y'
x - y

{1, 2, 3}

In [12]:
# DIfference of sets
x.difference(y)

{1, 2, 3}

In [13]:
# 4.Symmetric difference
a = {5, 6, 7, 8, 9}
b = {8, 9, 10, 11}

In [14]:
# Symmetric differences (set of elements in a and b but not in both.)
a ^ b

{5, 6, 7, 10, 11}

In [15]:
a.symmetric_difference(b)

{5, 6, 7, 10, 11}

In [18]:
# 5.Subset
x = {1, 2, 3, 4, 5, 6, 7, 8, 9}
y = {3, 4, 5, 6, 7, 8}
z = {10, 20, 30, 40}

In [19]:
y.issubset(x)

True

In [21]:
# 6.Superset
x.issuperset(y)

True

In [22]:
# 7.Disjoint
z.isdisjoint(x)

True

In [23]:
y.isdisjoint(x)

False

In [24]:
x

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [27]:
sum(x)

45

In [28]:
max(x)

9

In [29]:
min(x)

1

In [30]:
len(x)

9

In [31]:
list(enumerate(x))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [33]:
d = sorted(x, reverse=True)
d

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [34]:
sorted(d)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# Dictionary

- Dictionaries are used to store data values in key:value pairs.

- A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

- Dictionaries are written with curly brackets, and have keys and values.

- Dictionary items are ordered, changeable, and does not allow duplicates.

- Dictionary items are presented in key:value pairs, and can be referred to by using the key name.

- When we say that dictionaries are ordered, it means that the items have a defined order, and that order will not change.

- Unordered means that the items does not have a defined order, you cannot refer to an item by using an index.

- Dictionaries are changeable, meaning that we can change, add or remove items after the dictionary has been created.

- Dictionaries cannot have two items with the same key

In [35]:
# 1.Create and print dictionary
thisdict = {
  "brand": "acer",
  "model": "aspire 5",
  "year": 2017
}
print(thisdict)

{'brand': 'acer', 'model': 'aspire 5', 'year': 2017}

In [39]:
# Print the "brand" value of the dictionary'
thisdict = {
  "brand": "acer",
  "model": "aspire 5",
  "year": 2017
}
print(thisdict['brand'])

acer

In [40]:
thisdict['model']

'aspire 5'

In [46]:
# Duplicate values will overwrite existing values
thisdict = {
  "brand": "acer",
  "model": "aspire 5",
  "year" : 2017,
  "year" : 2020
}
print(thisdict)

{'brand': 'acer', 'model': 'aspire 5', 'year': 2020}

In [47]:
#To determine how many items a dictionary has, use the len() function
print(len(thisdict))

3

In [52]:
#The values in dictionary items can be of any data type
#String, int, boolean, and list data types
thisdict = {
  "brand": "acer",
  "model": "aspire 5",
  "year" : 2017,
  "year" : 2020,
  "True" : "False",
  "colors": ["red", "white", "blue"],
}
print(thisdict)

{'brand': 'acer', 'model': 'aspire 5', 'year': 2020, 'True': 'False', 'colors': ['red', 'white', 'blue']}

In [53]:
# Print the data type of a dictionary
print(type(thisdict))

<class 'dict'>

In [56]:
# Accessing Dictionary keys
myData = {"Name":"Manohar", "Age":22, "Adhaar no":718636926600, "Place":"Nanjangud", "District":"Mysore", "State":"Karnataka", }

In [57]:
myData.keys()

dict_keys(['Name', 'Age', 'Adhaar no', 'Place', 'District', 'State'])

In [60]:
# Accessing Dictionary values
myData.values()

dict_values(['Manohar', 22, 718636926600, 'Nanjangud', 'Mysore', 'Karnataka'])

In [61]:
# Calling items
myData.items()

dict_items([('Name', 'Manohar'), ('Age', 22), ('Adhaar no', 718636926600), ('Place', 'Nanjangud'), ('District', 'Mysore'), ('State', 'Karnataka')])

In [62]:
# Calling a particular key
myData["Adhaar no"]

718636926600

In [64]:
myData["Age"]

22

In [65]:
myData["Place"]

'Nanjangud'

In [66]:
ourLocations = {(15.609938, 75.212323):{"Location":"Dharwada","Place":"shirkol"},
               (12.045356957820832, 76.54118074238947):{"Location":"Nanjangud","Place":"Duggahalli"},
               (12.408512727131894, 76.4883244763885):{"Location":"Mysore","Place":"Hoskote"},
               (12.345375636216737, 76.62092416740548):{"Location":"Mysore","Place":"Kumbarkopplu"},
               (12.15585326594261, 77.10876556222765):{"Location":"Kollegala","Place":"Shankanapura"}}

In [67]:
ourLocations[12.045356957820832, 76.54118074238947]

{'Location': 'Nanjangud', 'Place': 'Duggahalli'}

In [68]:
ourLocations[12.045356957820832, 76.54118074238947]["Place"]

'Duggahalli'

In [70]:
# Search name and appnding
studentList = ["manohar","rahul","drakshayani","akhil","ramu","mallesh","soundarya","sagar"]
searchName = input("Enter the student name: ")
if searchName in studentList :
    print(searchName,"is found in database")
else:
    print(searchName,"is not found in database")
    print("appending")
    studentList.append(searchName)
print(studentList)

Enter the student name: manu
manu is not found in database
appending
['manohar', 'rahul', 'drakshayani', 'akhil', 'ramu', 'mallesh', 'soundarya', 'sagar', 'manu']

In [71]:
# Keys can be store immutable() but not using mutable[].
adhaar = {(718636926600):"Manohar"}

In [72]:
adhaar.items()

dict_items([(718636926600, 'Manohar')])

__Working with Missing Keys:__ 

When working with dictionaries in Python, it's common to encounter situations where a key that you're trying to access is not present in the dictionary. In such cases, you can handle missing keys in various ways, some of which are:

- __1.Use the get() method:__ The get() method allows you to specify a default value to return if the key is missing.

- __2.Use a conditional statement:__ we can use an if statement to check if the key is present in the dictionary before accessing it.

- __3.Use the setdefault() method:__ The setdefault() method sets a default value for a key if it's not already present in the dictionary. It returns the value for the key if it's already present.

- __4.Use the defaultdict() function:__ The defaultdict() function from the collections module allows you to specify a default value to return for missing keys.

In [3]:
#1.get() method.
my_dict = {"apple": 1, "banana": 2}
print(my_dict.get("orange", 0))

0

In [12]:
#2.USe conditional statement
my_dict = {"apple": 1, "banana": 2}
if "orange" in my_dict:
    print(my_dict["orange"])
else:
    print("Key not found")

Key not found

In [13]:
#3.Use the setdefault() method.
my_dict = {"apple": 1, "banana": 2}
print(my_dict.setdefault("orange", 0))

0

In [14]:
#4.Use the defaultdict() function
from collections import defaultdict
my_dict = defaultdict(int)
my_dict["apple"] = 1
my_dict["banana"] = 2
print(my_dict["orange"])

0